body {
    background-color: rgb(153, 152, 156);
  }
  
  h1 {
    color: white;
    text-align: center;
  }
  
  p {
    font-family: verdana;
    font-size: 20px;
    color: white; 
  }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 200px;
  background-color: #f1f1f1;
}

li a {
  display: block;
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a.active {
    background-color: #555;
    color: white;
}

/* Change the link color on hover */
li a:hover {
  background-color: #555;
  color: white;
}

div {
  border: 1px solid black;
  background-color: rgb(74, 73, 74);
  padding-top: 50px;
  padding-right: 30px;
  padding-bottom: 50px;
  padding-left: 80px;
}



